.update-button {
  background: #679289;
  border-radius: 50%;
  outline:none;
  border: none;
}

.delete-button {
  background: #ee2e31;
  outline:none;
  border: none;
}

.projectCard {
  margin: 0;
  position: relative;
  left: 50%;
}

.MaterialsList {
  display: inline-grid;
  position: relative;
  margin: 2rem 5rem;
  grid-template-columns: auto auto auto;
}

.Materials {
  background-color: rgba(255, 255, 255, 0.8);
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 30px;
 text-align: center;
}

.materialName {
  position: relative;
  text-align: center;
}

.navBar {
  margin: 0;
  padding: 0;
  height: 100px;
  position: relative;
  background-color: #13293d;
}
.links {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  font-family: Verdana;
}

.links a {
  text-decoration: none;
  color: #f4c095;
  padding: 10px;
}

.Home {
  text-align: center;
  font-family: Verdana;
}
.projectsContainer {
  text-align: center;
}
